<!doctype html>

{% extends "blank.html" %}

           
{% block content %}


  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><i class="fa fa-flag-o red"></i><strong>Principales ADRs</strong></h2>
      <div class="panel-actions">
        
    <a onclick="exportar('tabladatos1');" class="btn-minimize"><img src="/static/exc.PNG" style="height: 18px;" class="fa fa-chevron-up"></a>
        
      </div>
    </div>
<div class="panel-body">
<table id = "tabladatos1" class="table bootstrap-datatable countries">
  <thead>
    <tr>
      <th>
        {% for i in cols[:] %}
        <td> {{i}} </td>
        {% endfor %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for k in range(data|length) %}
        <tr>
              
              
              <td> <a onclick="esperar2('{{data.iloc[k,0]|safe }}');"> {{data.iloc[k,0]}} </a> </td>
              {% for j in cols[:]  %}
              <td> {{data.iloc[k][j]}} </td>
              
              
              {% endfor %}    
              
            </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>
  </div>
</div>
  



{% endblock %}
